/* Any custom CSS you would like to specify for your site can go here. */

body {
  background-color: #ffffff;
}

main {
  max-width: 1500px;
  width: 95%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.card {
  max-width: 300px;
  flex: 1 1 33%;
  height: 350px;
  border: 1px solid #261201;
  margin: 20px;
}

.card .image {
  display: block;
  height: 50%;
  margin-bottom: 20px;
}

.card .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  color: #261201;
}

a:hover {
  color: #a6926d;
}

.nav-link {
  display: contents !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0px !important;
}

.nav-item {
  padding-right: 10px;
}

.navbar {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 56px;
}

.navbar-brand {
  font-size: x-large !important;
  font-weight: bold !important;
}
